# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Packaging metadata
*.egg-info/

# Local/test files
bpe_model.json
testing.py
spam.ipynb
spam_naive_bayes.pkl
nothing.py